/* CSS:
    1 -inheritance
*/

body div {
    color: red;
}

.content {
    color: #0413eb;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 11.5rem;
    font-size: 30px;
    line-height: 2CM;
    /*letter-spacing: 0.5em;*/
}

.content h1 {
    font-weight: 700;
    /* overrides only the weight, color is inherited */
}


footer {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}



/* Some CSS properties are inherited by default:

font-family

color

line-height

text-align

letter-spacing

*/

/*
    Not inherited:
    margin

    padding

    border

    background-color

    width / height
*/