/* CSS: inheritance */
.content {
    color: #0d4988;
    /* children inherit this color */
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 15rem;
    font-size: 2.1rem;
}

.content h1 {
    font-weight: 700;
    /* overrides only the weight, color is inherited */
}


footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}