/* CSS: pseudo-classes */
.btn-link:link {
  color: green;
}


.btn-link:hover {
  text-decoration: underline;
}

.btn-link:visited {
  color: black;
}


.btn-link:active {
  color: red;
}


li:first-child {
  color: red;
}


.btn-link {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  font-size: 2.1rem;
}

footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}