/* CSS: pseudo-elements */
.intro-text::first-letter {
    font-size: 200%;
    font-weight: bold;
}

.intro-text::first-line {
    color: blue;
}

.intro-text::after {
    content: "★";
}

.intro-text::before {
    content: "★";
}

.intro-text {
    text-align: center;
    padding-top: 15rem;
    font-size: 2.1rem;
}


footer {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}