/* CSS: specificity battle */
p {
    color: black;
    /* specificity: 1 */
}

.note {
    color: blue;
    /* specificity: 10 */
    text-align: center;
    padding-top: 15rem;
    font-size: 2.1rem;
}

#intro {
    color: green;
    /* specificity: 100 → this one wins */
}



footer {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}