body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #e3f2fd, #bbdefb);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
h1{
    color: #0d47a1;
    margin-bottom: 0.5rem;
}
h2 {
    color: #0d47a1;
    margin-bottom: 1rem;
}

label {
    display: block;
    text-align: left;
    margin-top: 1rem;
    color: #0d47a1;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #90caf9;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 10px;
    background: #0d47a1;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #1565c0;
}

#message {
    margin-top: 1rem;
    font-weight: bold;
}